body{
	font-family: 'Ubuntu', sans-serif;
	background-image: url(../images/fondo.jpg);
	background-size: cover;
	overflow-x: hidden;
}
.fondo{
	width: auto;
	height: auto;
}
header{
	box-shadow: 2px 2px 5px #999;
	background-color: #00BFFF;
	display: block;
	margin-top: -15px;
	padding-top: 15px;
	margin-left: -10px;
	margin-right: -20px;
	padding-bottom:10px;
}
h2 {
	text-align: center;
	color: #fff;
}
/*.fa-home{
	display: inline-block;
	padding-left: 100px;
	padding-right: 10px;
}
.home{
	display:inline-block;
}
.notify{
	display: inline-block;
	padding-right: 10px;
	padding-top: 15px;	
}
.sms{
	display: inline-block;
	padding-right: 200px;
}
.twi{
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-right: 100px;
}
.search{
	display: inline-block;
	border-radius: 171px 171px 171px 171px;
	-moz-border-radius: 171px 171px 171px 171px;
	-webkit-border-radius: 171px 171px 171px 171px;
	background-color: #FAFAFA;
	margin-right: 50px;
}
.searching{
	border:none;
	padding: 15px;
	border-radius: 171px 171px 171px 171px;
	-moz-border-radius: 171px 171px 171px 171px;
	-webkit-border-radius: 171px 171px 171px 171px;
	background-color: #FAFAFA;
}
.finbar{
	float:right;
}
.perfil{
	margin-right: 5px;
	width: 50px;
	height: 50px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
}
.buttomfirst{
	border-radius: 171px 171px 171px 171px;
	-moz-border-radius: 171px 171px 171px 171px;
	-webkit-border-radius: 171px 171px 171px 171px;
	background-color: #00BFFF;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	display: inline-block;
	color: #fff;
	font-style: bolder;
}*/
.izq{
	background-color: #fff;
	margin-left: 150px;
	margin-top: 10px;
	padding-top: 10px;
	padding-right: 200px;
	padding-left: 20px;
	display: inline-block;
	margin-right: 20px;
}
h5{
	line-height: 0;
}
h4{
	line-height: 100px;
	color:blue;
}
.dch{
	background-color: #fff;
	display: inline-block;
	margin-top: -300px;
	padding-bottom: 80px;
	padding-top: 50px;
	padding-left: 40px;
	padding-right: 60px;
}
.text{
	opacity: 9;
	padding-bottom: 40px;
	margin-top: 10px;
	margin-right: 40px;
	padding-right: 90px;
	padding-bottom: 40px;
	border-style: none;
	border-bottom: 1px solid #000;
	width: 500px;
	
}
#btn{
	background-color: blue;
	border-style: none;
}
#cont div{
	margin-top: 40px;
	padding: 1em 0.5em;
	margin-bottom: 2em;
	outline: 0.1em solid #E5E3F2;
	background-color: #FFF;
	display: inline-block;
	width: 400px;
	margin-left: 80px;	
}
